.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    justify-content: 'start';
    margin-top: 10px;
  }
  
  .movie-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
   
  .movie-item:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    
    cursor: pointer;
  }
  
  .movie-item img {
    width: 100%;
    border-radius: 10px;
  }
  